---
import type { Message } from '../types/types';
import {CopyBtn} from './CopyBtn.tsx';

interface Props{
    message?: Message;
    img? : string;
    alt?: string;
    sender?: string;
    name?: string;
}

const { message, img, alt, sender, name } = Astro.props;

const bubbleClasses = sender === 'You' 
    ? 'bg-blue-600 text-white rounded-br-none' 
    : 'bg-gray-200 dark:bg-zinc-800 text-gray-800 dark:text-gray-200 rounded-bl-none';

const alignmentClass = sender === 'You' ? 'items-end' : 'items-start';
const flexDirection = sender === 'You' ? 'flex-row-reverse' : 'flex-row';
---

<li class={`flex w-full my-2 ${flexDirection} ${alignmentClass}`}>
    <img id="sender-img" class="w-8 h-8 rounded-full object-cover mr-3 ml-3" src={img} alt={`Avatar de ${alt}`}>
    <div class={`relative max-w-xl px-4 py-2 rounded-lg shadow-lg ${bubbleClasses}`}>
        <div class="flex items-center justify-between mb-1">
            <span id="sender-name" class="text-xs font-medium truncate">{name}</span>
            <span id="time" class="text-xs font-normal opacity-70 ml-4">{message?.time}</span>
        </div>
        <p id="message" class="text-sm">{message?.content}</p>
        <div class="absolute top-2 right-2">
            <CopyBtn message={message} client:load />
        </div>
    </div>
</li>
