---
import type { Message } from '../types/types';
import {CopyBtn} from './CopyBtn.tsx';
interface Props{
    message?: Message;
    img? : string;
    alt?: string;
    sender?: string;
    name?: string;
}
const { message , img , alt , sender , name} = Astro.props;

---
<li id="message-container" class={`relative meassage-container ${sender}-message flex  items-start justify-end w-full md:max-w-[370px] max-w-[250px] rounded-e-xl rounded-es-xl gap-4 `}>
    <img id="sender-img" class="sender-img w-8 h-8 rounded-full" src={img} alt=`Avatar de ${alt}`>
    <div class="flex flex-col w-full md:max-w-[300px] max-w-[250px] leading-1.5 p-4 shadow-xl dark:shadow-blue-400  border-gray-200 bg-gray-100 dark:bg-gray-900/95  rounded-xl  ">
       <div class="flex items-center justify-between space-x-2 mb-2  ">
          <span id="sender-name" class="sender-name text-xs max-w-[150px] font-medium text-gray-900 truncate dark:text-white">{name}</span>
          <span id="time" class="time text-xs font-normal text-gray-800 dark:text-white/70  ">{message?.time}</span>
       </div>
       <p id="message" class="message text-xs font-normal text-gray-900 dark:text-gray-100/90">{message?.content}</p>
    </div>
    <CopyBtn message={message} client:load transition:persist />
</li>
