---
import SideBar from '../components/SideBar.jsx'
import Header from '../components/Header.astro';
import type { Sesion } from "../types/types";
import Modal from '../components/Modal.astro';

interface Props {
	title: string;
    pathname: string;
    sesion?: Sesion;
}
const { title } = Astro.props;
const { pathname } = Astro.url;
const { sesion } = Astro.props;
const SEOTitle = ` - ${title} - Promoci贸n de la salud en medios digitales`;
const description = "Plataforma encaminada a la promoci贸n de la salud por medios digitales en la Instituci贸n Educativa Tecnico Industrial El Milagroso";
---

<!doctype html>
<html lang="es" class="dark" role="main">
	<head>
		<meta charset="UTF-8" />
		<title>{SEOTitle}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />
        <script src="../scripts/chat.ts"></script>
	</head>
	<body>
        <div id="app" class="bg-[#F4F4F9] dark:bg-gray-950 dark:text-white text-black transition-all ease-in-out duration-300">
            <Modal message='cerrar sesi贸n' confirm='salir'/>
            <header class="[grid-area:header]">
                <Header sesion={sesion} pathname={pathname} title={title} />
            </header>
            <aside class="[grid-area:aside] ">
                <SideBar client:load pathname={pathname} transition:persist/>
            </aside>
            <main class="[grid-area:main]" >
                <slot />
            </main>
        </div>
	</body>
</html>
<style is:global>
    #app {
  display: grid;
  height: 100dvh;
  width: 100dvw;
  grid-template-areas:
    "aside header header"
    "aside main main"
    "aside main main";
  grid-template-rows: 0.3fr 5fr auto;
  grid-template-columns: auto 5fr;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 768px) {
  #app {
    display: grid;
    grid-template-areas:
      "header header"
      "main main"
      "aside aside";
    grid-template-rows: 0.3fr 5fr;
    grid-template-columns: auto 5fr;
    height: 100dvh;
    width: 100dvw;
  }
}
.chatSection {
        display: grid;
        grid-template-areas:
        "output output output"
        "input input input";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  3fr 70px;
        gap: .5rem;
        height: 100%;
    }
    .You-message {
        place-self: end;
        flex-direction: row-reverse;
        &> div {
            box-shadow: 0 20px 25px -5px rgba(0, 176, 255, 0.4), 0 10px 10px -5px rgba(0, 176, 255, 0.2);
        }
         button {
           position: absolute;
           left: 2;
           bottom: 2;
        }
    }
    .Bot-message> div {
        background-color: #e0e0e0;
    }

    #send[disabled] {
        opacity: 0.5;
        pointer-events: none;
        color: gray;
    }

</style>
